body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: rgb(69,9,121);
    background: linear-gradient(117deg, rgba(69,9,121,0.7712272408963585) 4%, rgba(23,0,36,0) 47%, rgba(140,0,255,0.8496586134453782) 97%);
    min-height: 100vh;
    transition-duration: 1000ms;
}

h1 {
    color: rgba(89, 0, 255, 0.668);     
}

button {
    background-color: rgba(89, 0, 255, 0.668); 
    padding: 1rem;
    color: white;
    border: 0px;
    border-radius: 5rem;
    width: 12rem;
    font-weight: bold;
}


.card {
    width: 12em;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
    background-color: rgba(89, 0, 255, 0.668);
    transition-duration: 500ms;
    overflow: hidden;
    color: white;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition-duration: 500ms;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: 0;
    padding: 0;
}



img {
    border-radius: 1rem;
    transition-duration: 800ms;
}

img:hover {
    transform: scale(1.5);
    transition-duration: 800ms;
}

.title {
    text-align: center;
    z-index: 1;
    color: rgb(113, 222, 255)
}